<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Info</title>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/equipment}">Back</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div align="center">
    <h1>Update</h1>
    <br/><br/>
</div>
<div align="center">
    <span  th:text="${message}" ></span>
<form
      th:object="${personEquipment}" method="GET" th:action="@{/updateSprzet/}+${personEquipment.id}">
    <input hidden="false" type="text" th:field="*{id}" />
    Kategoria:
    <input type="text" th:field="*{kategoria}" />
    <br/>
    Nazwa Sprzętu:
    <input type="text" th:field="*{nazwasprzetu}" />
    <br/>
    Model:
    <input type="text" th:field="*{model}" />
    <br/>
    Przydział:

    <select th:field="*{przydzial}">
        <option value="">Dostępny</option>
        <option th:each="user : ${usery}"
                th:value="${user.lastName} +  ${user.firstName}"
                th:utext="${user.lastName} + ${user.firstName}"/>
    </select>
    <br/>
    Status:
    <input type="text" th:field="*{status}" />
    <br/>
    Numer Seryjny:
    <input type="text" th:field="*{nrseryjny}" />
    <br/>
    <input type="submit" value="Update"  />

</form>
    </div>
</body>
</html>